/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-green: #91C92F;
}

@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Open Sans";
    src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    /* в конце удалить */
    width: 1440px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.device-button {
    position: relative;
    border: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 22px;
}

.device-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 8px;
    background-color: var(--special-yellow-dark);
    z-index: -1;
}

.device-button:hover::after {
    top: 0;
    transform: none;
    height: 100%;
}

/* header */

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--special-yellow-dark);
    margin-top: 40px;
    margin-bottom: 44px;
    padding: 0 57px 0 60px;
}

.main-header button {
    background-color: transparent;
}

.header-top a {
    position: relative;
    top: -20px;
}

.header-top {
    margin-bottom: 6px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header-middle input {
    background-color: transparent;
    text-align: right;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    opacity: 0.3;
    width: 160px;
    background-image: url(../img/icon_search.svg);
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.authorization {
    display: none;
}

.user-navigation {
    list-style: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.user-navigation li:first-child {
    position: relative;
    margin-top: 1px;
    left: 21px;
}

.header-navigation {
    width: 500px;
}

.header-navigation li:first-child::before {
    content: "";
    background-image: url(../img/icon-header.svg);
    background-repeat: no-repeat;
    background-position: 0 6px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -22px;
}

.header-navigation li:first-child:hover, .header-navigation li:first-child:hover::before {
    opacity: 0.6;
}

.header-navigation li:nth-child(2) {
    margin-left: 195px;
    margin-top: 1px;
    position: relative;
}

.header-navigation li:nth-child(2)::before {
    content: "";
    background-image: url(../img/icon_chart-header.svg);
    background-position: 0 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 5px;
    width: 15px;
    height: 15px;
    left: -25px;
}

.header-navigation li:last-child {
    margin-right: 4px;
    margin-top: 1px;
    position: relative;
}

.header-navigation li:last-child::before {
    content: "";
    background-image: url(../img/icon_cart-header.svg);
    background-repeat: no-repeat;
    background-position: 3px 6px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
}

.header-navigation a {
    color: var(--basic-black);
}

.header-navigation a:hover {
    opacity: 0.6;
}

.header-navigation a:active {
    opacity: 0.3;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.index-page {
    padding-bottom: 164px;
}

.catalog {
    display: none;
    list-style: none;
}

.catalog a {
    color: var(--basic-black);
}

nav h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

nav h2::after {
    content: "";
    background-image: url(../img/icon_plus.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 1px;
}

.offer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
}

.header-offer {
    width: 503px;
}

.header-offer li:nth-child(2) {
    margin-left: -71px;
}

.offer {
    list-style: none;
}

.offer a {
    color: var(--basic-black)
}

/* слайд */

.slide {
    margin-top: -191px;
    padding: 0 47px 0 89px;
}

.slide-second, .slide-third {
    display: none
}

.switch {
    position: relative;
    left: -41px;
    top: 6px;
    display: flex;
    padding: 0;
    margin-left: 50px;
}

.switch button {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    margin-left: 18px;
}

.slide-flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 70px;
}

.slide-right_side {
    width: 513px;
}

.slide-right_side .number {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.slide-right_side-top {
    display: flex;
    justify-content: space-between;
}

.slide-title {
    position: relative;
    top: -108px;
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.slide-text {
    position: relative;
    top: -600px;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
}

.slide-rectangle {
    position: relative;
    top: 53px;
    width: 100px;
    height: 7px;
    background-color: var(--basic-white);
}

.slide-wrap {
    position: relative;
    top: -83px;
    display: flex;
    justify-content: space-between;
}

.slide-button {
    min-width: 220px;
}

th {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

td {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    padding-bottom: 11px;
}

table {
    width: 100%;
    text-align: left;
    position: relative;
    top: -26px;
    left: -3px;
}

/* популярное */

.popular {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: -136px;
}

.popular li {
    margin: 0;
    padding: 0;
}

.popular a {
    display: inline-block;
    text-align: center;
    color: var(--basic-black);
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    outline: 1px dotted black;
    background-color: var(--special-yellow-dark);
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
}

.popular span {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

/* слайдер-2 */

.background-grey {
    background-color: var(--basic-gray-light);
    padding-top: 288px;
}

.slider-2_flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 220px;
}

.bota {
    position: relative;
    top: -20;
    margin-top: 0;
}

.slider-buttons {
    padding-top: 88px;
    padding-left: 0;
    border-right: 7px solid black;
    width: 284px;
}

.slider-2_img {
    margin-top: 70px;
}

.slider-2_button {
    min-width: 160px;
}

.slider-buttons .device-button:not(:last-child) {
    margin-bottom: 37px;
}

.slider-services-main {
    display: flex;
    width: 760px;
    justify-content: space-between;
}

.slider-services-main h2 {
    padding: 0;
    padding-top: 71px;
    padding-bottom: 24px;
    margin: 0;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.slider-services-main p {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.1em;
    max-width: 495px;
    padding-bottom: 53px;
}

.guarantee, .credit {
    display: none;
}

/* Логотипы */

.logos {
    padding-top: 90px;
    padding-bottom: 87px;
}

.logo-items {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.logo-items img {
    filter: grayscale(1);
    opacity: 0.3;
}

.logo-items img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* index-columns */

.index-columns {
    display: flex;
    padding-bottom: 85px;
}

.main-rectangle {
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
    margin-bottom: 50px;
}

.index-columns h2 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
}

.index-columns p {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 40px;
}

.index-columns_button {
    min-width: 260px;
}

.about p:last-of-type {
    margin-bottom: 60px;
}

.delivery-items {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 78px;
    list-style: circle;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 77px;
}

.delivery-items span {
    position: relative;
    left: 12px;
}

.delivery-items li {
    margin-bottom: 15px;
}

.delivery-items li:nth-child(2) {
    margin-bottom: 14px;
}

.about {
    min-width: 473px;
    margin-right: 127px;
}

.contacts img {
    margin-bottom: 81px;
}

/* footer */

.main-footer {
    background-color: var(--basic-dark);
    padding: 46px 0;
}

.footer-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.footer-top img {
    position: absolute;
    top: 18px;
}

.footer-navigation li:first-child {
    position: relative;
    left: -1px;
}

.footer-navigation {
    width: 300px;
}

.footer-navigation li:first-child {
    position: relative;
}

.footer-navigation li:first-child::before {
    content: "";
    background-image: url(../img/footer-icon.svg);
    background-repeat: no-repeat;
    background-position: 1px 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -22px;
}

.footer-navigation li:nth-child(2) {
    position: relative;
}

.footer-navigation li:nth-child(2)::before {
    content: "";
    background-image: url(../img/footer-chart.svg);
    background-repeat: no-repeat;
    background-position: 0 6px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: -22px;
}

.footer-navigation li:last-child {
    position: relative;
    left: -1px;
}

.footer-navigation li:last-child::before {
    content: "";
    background-image: url(../img/footer-cart.svg);
    position: absolute;
    background-position: 2px 4px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    left: -25px;
}

.footer-navigation a, .footer-offer a, .footer-middle span, .footer-middle a {
    color: var(--basic-white);
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 66px;
}

.footer-middle .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-middle .footer-offer {
    width: 426px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 38px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rectangle {
    margin-top: 12px;
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-dark);
}

.social-items {
    width: 135px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -53px;
}

.form {
    display: none
}

.map {
    display: none
}

/* каталог */

.inner-page {
    padding-bottom: 50px;
}

.catalog-container {
    padding-left: 60px;
    margin-bottom: 50px;
}

.catalog-item {
    display: inline-block;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 30px;
}

.crumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.crumbs li {
    display: inline;
    opacity: 0.3;
    margin-right: -5px;
}

.crumbs li::after {
    padding: 0 16px;
    content: ">";
    color: var(--basic-black);
}

.inner-main {
    display: flex;
}

.filter {
    background-color: var(--basic-gray);
}

.sorting-wrap {
    display: flex;
}

.legend {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-ul {
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.products-items {
    list-style: none;
}

.products-items h3 {
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
}