/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-green: #91C92F;
}

@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Open Sans";
    src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    /* в конце удалить */
    width: 1440px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.device-button {
    position: relative;
    min-width: 260px;
    border: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 22px;
}

.device-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 8px;
    background-color: var(--special-yellow-dark);
    z-index: -1;
}

.device-button:hover::after {
    top: 0;
    transform: none;
    height: 100%;
}

/* header */

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--special-yellow-dark);
    border: none;
    margin-bottom: 44px;
}

.main-header button {
    background-color: transparent;
}

.header-middle input {
    background-color: transparent;
    text-align: right;
    border: none;
}

.user-navigation {
    list-style: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.user-navigation a {
    color: var(--basic-black);
}

.user-navigation a:hover {
    opacity: 0.6;
}

.user-navigation a:active {
    opacity: 0.3;
}

.catalog {
    display: none;
    list-style: none;
}

.catalog a {
    color: var(--basic-black);
}

nav h2 {
    text-transform: uppercase;
}

.slide {
    display: none;
}

.switch button {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    margin-left: 18px;
}

.offer {
    list-style: none;
}

.offer a {
    color: var(--basic-black)
}

.index-column h2 {
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.popular {
    list-style: none;
}

.popular a {
    color: var(--basic-black);
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.delivery-items {
    list-style: none;
}

.delivery-items li {
    font-size: 16px;
    line-height: 28px;
}

/* Логотипы */

.logo-items {
    display: flex;
    list-style: none;
}

.logo-items img {
    filter: grayscale(1);
    opacity: 0.3;
}

.logo-items img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* index-columns */

.index-columns {
    display: flex;
}

.index-columns p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}

.index-columns p {
    margin-bottom: 40px;
}

.about p:last-of-type {
    margin-bottom: 60px;
}

.index-columns h2 {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.delivery-items {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 78px;
}
.delivery-items li {
    margin-bottom: 16px;
}

.about {
    min-width: 473px;
    margin-right: 127px;
}

.contacts img {
    margin-bottom: 80px;
}
.button-slider {
    width: 160px;
}

.slider-2 {
    background-color: var(--basic-gray-light);
}

.main-footer {
    background-color: var(--basic-dark);
}

.footer-navigation a, .footer-offer a, .footer-middle span, .footer-middle a {
    color: var(--basic-white);
}

.main-footer button {
    background-color: transparent;
    border: none;
    color: var(--basic-white);
}

.social-items {
    list-style: none;
}

.form {
    display: none
}

.map {
    display: none
}

/* каталог */

.catalog-item {
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.crumbs {
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.crumbs li {
    display: inline;
    margin-right: 40px;
    opacity: 0.3;
}

.crumbs li::after {
    padding: 0 16px;
    content: ">";
    color: var(--basic-black);
    background-image: url(/img/plus.svg);
}

.legend {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-ul {
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.products-items {
    list-style: none;
}

.products-items h3 {
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
}